In [2]:
for int in range(6):
    print(int)

0
1
2
3
4
5

In [11]:
for name in "Aslam":
    print(name, end="")

Aslam

In [25]:
monthly_expense=[2500,1800,5000,3000,4000]
total_expense= 0 

for values in monthly_expense:
    total_expense  = total_expense+values
    print(total_expense)

2500
4300
9300
12300
16300

In [14]:
[print(f"{i} x 2 = {i*2}") for i in range(1, 11,)]

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

[None, None, None, None, None, None, None, None, None, None]

In [37]:
monthly_expenses=[2500,1800,5000,3000,4000]
Total_expense = 0
for i in range(len(monthly_expenses)):
    expense = monthly_expenses[i] 
    print(f" month {i+1} ={expense}")
    Total_expense =Total_expense + expense
print("Total Expense =", Total_expense)

 month 1 =2500
 month 2 =1800
 month 3 =5000
 month 4 =3000
 month 5 =4000
Total Expense = 16300

In [8]:
monthly_expenses=[2500,1800,5000,3000,4000]
Total_expense = 0
for i, expense in enumerate (monthly_expenses):
    print(f" month {i+1} ={expense}")
    Total_expense += expense
print("Total Expense =", Total_expense)

 month 1 =2500
 month 2 =1800
 month 3 =5000
 month 4 =3000
 month 5 =4000
Total Expense = 16300

In [51]:
monthly_sales = [19,20,55,77,90]
month = ['jan', 'feb','mar','apr','may']
thresold = 40
for sales_amount,m in zip(monthly_sales,month):
    if sales_amount < thresold:
        print(f"sales amount {sales_amount} is less than {thresold} in {m} ")
       
    else:
        print(f"sales amount {sales_amount} is greater than {thresold} in {m}")

sales amount 19 is less than 40 in jan
sales amount 20 is less than 40 in feb
sales amount 55 is greater than 40 in mar
sales amount 77 is greater than 40 in apr
sales amount 90 is greater than 40 in may

In [47]:
for i in range(1,11):
    if(i%2==0):
        continue

    print(i)

1
3
5
7
9

In [32]:
mark = [55,12,45,67,89]
thresold = 35

for marks in mark:
    if marks >= thresold:
        continue
    print(f"{marks} is pass")
        
    #else:
        #print(f"{marks} is Fail")

12 is pass

In [35]:
a=[1,2,3,4]
b=['jan','feb','mar','apr']
tuple(zip(a,b))

((1, 'jan'), (2, 'feb'), (3, 'mar'), (4, 'apr'))

In [54]:
for i in range(2,10):
    if i % 5 == 0:
        break
    print(i)

2
3
4

In [24]:

    for num in range (1,11):
        print(f"{num} * {11} = {num *11}")

1 * 11 = 11
2 * 11 = 22
3 * 11 = 33
4 * 11 = 44
5 * 11 = 55
6 * 11 = 66
7 * 11 = 77
8 * 11 = 88
9 * 11 = 99
10 * 11 = 110