In [21]:

def mul(a,b,c):
   return( a*b*c)
    
total = mul(3,6,1)
c = total + 10
print(c)

28

In [10]:
def add(a,b):
    return(a+b)
sum = add(5,8)
print(sum)

13

In [6]:
def fun_name():
    print("I am a good learner")

fun_name()
fun_name()

I am a good learner
I am a good learner

In [24]:
def fun_name():
    return('I am a good learner')

fun_name()
fun_name()

'I am a good learner'

In [31]:
def name(fname):
    return("Ayaan" +" " + fname)
print(name("Deen"))
print(name("Aysha"))

Ayaan Deen
Ayaan Aysha

In [39]:
def family(father,mother):
    return father,mother
print(family("md fark","fari"))

('md fark', 'fari')

In [48]:
def sum(a,b):
    return(a,b)
total = (15+6)
print(total)
final = total + 100
final

21

121

In [77]:
def num(numbers):
   
    if(numbers%2==0):
        return(f" {numbers} is even")
    else:
        return(f" {numbers} is odd")


for i in range(1,20):
    print(num(i)) # i =1      #num(i)
                  # i = 2

 1 is odd
 2 is even
 3 is odd
 4 is even
 5 is odd
 6 is even
 7 is odd
 8 is even
 9 is odd
 10 is even
 11 is odd
 12 is even
 13 is odd
 14 is even
 15 is odd
 16 is even
 17 is odd
 18 is even
 19 is odd

In [92]:
def mul(a,b):
    return(a*b)
print(mul(6,2))

12

In [109]:
def bill(price,quantity):
    value = price*quantity
    return value
    
    
total =  bill(12,5)
print(total)
final = total +50
final

60

110

In [120]:
def value(numbers):
    total = 0
    for i in numbers:
        total += i
    return total
n = [12,34,5,6]
print(value(n))

57

In [130]:
def add():
    a=int(input())
    b=int(input())
    print(a+b)
print(add())

 15
 3

18
None

In [131]:
def sub():
    a=int(input())
    b=int(input())
    print(a-b)
print(sub())

 100
 80

20
None

In [133]:
def mul():
   
    a=int(input("Enter a:"))
    b=int(input("Enter b:"))
    print(a*b)
print(mul())

Enter a: 12
Enter b: 24

288
None

In [139]:
def div():
    print("Division")
    a=int(input("Enter a:"))
    b=int(input("Enter b:"))
    print(a//b)
print(div())

Division

Enter a: 55
Enter b: 5

11
None

In [143]:
def msg(a):
    print("the msg is:",a)
msg("Hi,Hello How are you")

the msg is: Hi,Hello How are you

In [153]:
def oddoreven(num):
    for x in num:
        if(x %2 == 0):
            print("even")
        else:
            print("odd")
nums=[12,3,5]
print(oddoreven(nums))

even
odd
odd
None

In [2]:
def oddoreven(num):
   
        if(num %2 == 0):
            print("even")
        else:
            print("odd")
        return(num)
for nums in range(1,11):
    print(oddoreven(nums))

odd
1
even
2
odd
3
even
4
odd
5
even
6
odd
7
even
8
odd
9
even
10

In [16]:
mark = int(input("Enter your mark:"))
def oddoreven(mark):
        if mark%2 == 0:
            return(f" {mark} is Even")
        else:
            return(f" {mark} is Odd") 
print(oddoreven(mark))

Enter your mark: 55

 55 is Odd

In [43]:


def printrange():
    a= int(input("Enter a:"))
    b= int(input("Enter b:"))
    for i in range(a,b+1):

        
        return i

        
        
print(printrange())

Enter a: 1
Enter b: 10

1
2
3
4
5
6
7
8
9
10
None

In [38]:
def printrange():
    a = int(input("Enter a: "))
    b = int(input("Enter b: "))
    for i in range(a, b+1):
        print(i)

printrange()

Enter a:  1
Enter b:  10

1
2
3
4
5
6
7
8
9
10

In [44]:
def printrange():
    a = int(input("Enter a: "))
    b = int(input("Enter b: "))
    result = []           # empty list

    for i in range(a, b+1):
        result.append(i)  # store values

    return result         # return AFTER loop

print(printrange())

Enter a:  1
Enter b:  10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
def getrange(a,b):
    final = []
    for i in range(a,b +1):
        final.append(i)
    print(final)
a = int(input("Enter a:"))
b = int(input("Enter b:"))
getrange(a,b)

Enter a: 1
Enter b: 20

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [53]:
 def evenrange(a,b):
     num =[]
     for i in range(a,b +1):
        if (i%2==0):
            print(f" {i} is even")
            num.append(i)
     return num
         
     
a1 = int(input())
b1 = int(input())
evenrange(a1,b1)

 11
 20

 12 is even
 14 is even
 16 is even
 18 is even
 20 is even

[12, 14, 16, 18, 20]

#

In [63]:
def evenrange(a,b):
     num =[]
    
     for i in range(a,b +1):
        if (i%2==0):
            print(f" {i} is even")
            num.append(i)
     return num
    
         
     
a1 = int(input())
b1 = int(input())
result = evenrange(a1,b1)
print(len(result))

 20
 31

 20 is even
 22 is even
 24 is even
 26 is even
 28 is even
 30 is even
6

In [107]:
def even_odd(x,y):
    even = []
    odd = []
    for i in range(x,y+1):
        if i%2 == 0:
            print(f"{i} is even")
            even.append(i)
    
        else:
            print(f"{i} is odd")
            odd.append(i)
    
   
    return even ,odd

 
(even_odd(11,20))

11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

([12, 14, 16, 18, 20], [11, 13, 15, 17, 19])

In [110]:
def even_odd(x,y):
    even = []
    odd = []
    for i in range(x,y+1):
        if i%2 == 0:
            print(f"{i} is even")
            even.append(i)
    
        else:
            print(f"{i} is odd")
            odd.append(i)
    
   
    return even ,odd
even_list, odd_list = even_odd(11, 20)

print("Even numbers:", even_list)
print("Odd numbers:", odd_list)

11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
Even numbers: [12, 14, 16, 18, 20]
Odd numbers: [11, 13, 15, 17, 19]

In [112]:
#Practice 5: sum of even and odd 
def even_odd(x,y):
    even = []
    odd = []
    for i in range(x,y+1):
        if i%2 == 0:
            print(f"{i} is even")
            even.append(i)
    
        else:
            print(f"{i} is odd")
            odd.append(i)
    
   
    return even ,odd
even_list, odd_list = even_odd(11, 20)
total1 = sum(even_list)
total2 = sum(odd_list)
print("Even numbers:", even_list)
print("Odd numbers:", odd_list)
print(total1)
print(total2)

11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
Even numbers: [12, 14, 16, 18, 20]
Odd numbers: [11, 13, 15, 17, 19]
80
75

In [127]:
username="EMC"
password="123"
uname = input()
password = input()
def validate():
    if(uname=="uname"and password=="123"):
        return True
    else:
        return False

(validate())

 ayaan
 aysha

False

In [133]:
a=int(input("a:"))
b=int(input("b:"))
c=int(input("c:"))


def sum(a,b):
    return(a+b)


value = sum(a,b)
total = value*c
print(total)

a: 12
b: 1
c: 2

26

In [147]:
def find_cylinder_volume(radius,height=9): #if i pass height in function it will defaulty takes height in anywhere
    volume = 3.14*(radius**2) * height
    print("radius:",radius)
    print("height:",height)
    return volume


r = 12
#h = 6
find_cylinder_volume(r)

radius: 12
height: 9

4069.44

In [148]:
def find_cylinder_volume(radius,height=9): #if i pass height in function it will defaulty takes height in anywhere
    volume = 3.14*(radius**2) * height
    print("radius:",radius)
    print("height:",height)
    return volume


r = 12
h = 6      # if i pas height in this type it gets it , does not considered the default height 
find_cylinder_volume(r,h)

radius: 12
height: 6

2712.96

In [1]:
def sum_all(*args): # (*args) this function adds the total argument we passed inide the fn     
    total=0
    for i in args:
        total += i
    return total
total = sum_all(1,2,3,4,5)
print(total)

15

In [2]:
def my_function(*sweets):
    print("I like" + " " +sweets[1])

my_function('palkova','dry gulabjamun','laddoo')

I like dry gulabjamun